In [8]:
import numpy as np
import pandas as pd

n1 = np.random.randint(200,300,size=(10,))
s1 = pd.Series(data=n1,index=[f'學生{i+1}' for i in range(10)])
display(s1+100)
display(s1.values)
display(s1.index)

學生1     391
學生2     380
學生3     324
學生4     312
學生5     303
學生6     337
學生7     327
學生8     365
學生9     329
學生10    304
dtype: int64

array([291, 280, 224, 212, 203, 237, 227, 265, 229, 204])

Index(['學生1', '學生2', '學生3', '學生4', '學生5', '學生6', '學生7', '學生8', '學生9', '學生10'], dtype='object')

In [18]:
import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(5,5))
dataFrame = pd.DataFrame(data=n2,
            index=['學生1','學生2','學生3','學生4','學生5'],
            columns=['國文','英文','數學','地理','歷史']
            )

dataFrame

     國文  英文  數學  地理  歷史
學生1  88  69  52  68  52
學生2  90  80  81  51  95
學生3  55  62  58  94  60
學生4  75  64  74  61  98
學生5  78  67  72  79  67

In [22]:
dataFrame['國文']
dataFrame[['國文','英文']]
total = dataFrame['國文'] + dataFrame['英文'] + dataFrame['數學'] + dataFrame['歷史'] + dataFrame['歷史'] 
dataFrame['總分'] = total
dataFrame

     國文  英文  數學  地理  歷史   總分
學生1  85  79  99  93  65  393
學生2  65  80  50  51  59  313
學生3  97  73  55  59  90  405
學生4  58  99  82  98  87  413
學生5  63  98  63  63  66  356